@import '../assets/sass/base';

.product {
  width: 300px;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba($color: #000000, $alpha: 0.4);
  margin: 8px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
