@import '../assets/sass/base';

.cartscreen {
  display: flex;
  max-width: 1300px;
  margin: 2rem auto;

  h2 {
    margin-bottom: 1rem;
  }

  .cartscreen__left {
    flex: 0.7;
    margin-right: 1rem;
    background: transparent;
    padding: 1rem;
  }

  .cartscreen__right {
    flex: 0.3;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    height: fit-content;

    div {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      padding: 1rem;

      &:last-child {
        border: none;
      }
    }

    div button {
      padding: 10px 17px;
      width: 100%;
      background: #171717;
      color: #f4f4f4;
      border: 1px solid #171717;
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }
    }

    .cartscreen__info p {
      padding: 8px;

      &:first-child {
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 1320px) {
  .cartscreen {
    max-width: 900px;
  }

  .cartscreen__left {
    margin: 0;
  }
}

@media (max-width: 960px) {
  .cartscreen {
    max-width: 800px;
  }

  .cartscreen__left {
    margin: 0;
  }
}

@media (max-width: 960px) {
  .cartscreen {
    flex-direction: column;
  }

  .cartscreen__right {
    margin: 1rem;
  }

  .cartscreen__left {
    margin: 0;
  }
}
